<div class="text-center " style="margin: 15%; margin-top: 5%; margin-bottom: 5%;">
    <div class="card text-center m-5">
      <div class="card-header">
        <h2>Evento de poesía</h2>
      </div>
      <div class="card-body ms-5 me-5 mt-5">
        <form #sendForms="ngForm">
  
          <div class="row">
            <div class="col-md-6 mb-4">
  
              <div class="form-outline">
                <input [(ngModel)]="formModule.carnet" name="carnet" type="text" id="firstName"
                  class="form-control form-control-lg" maxlength="6" />
                <label class="form-label" for="firstName">Carnet</label>
              </div>
  
            </div>
            <div class="col-md-6 mb-4">
  
              <div class="form-outline">
                <input [(ngModel)]="formModule.name" name="name" type="text" id="lastName"
                  class="form-control form-control-lg" />
                <label class="form-label" for="lastName">Nombre Completo</label>
              </div>
  
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-6 mb-4">
  
              <div class="form-outline">
                <input [(ngModel)]="formModule.address" name="address" type="text" id="firstName"
                  class="form-control form-control-lg" />
                <label class="form-label" for="firstName">Dirección</label>
              </div>
  
            </div>
            <div class="col-md-6 mb-4">
  
              <div class="form-outline">
                <input [(ngModel)]="formModule.gender" name="gender" type="text" id="lastName"
                  class="form-control form-control-lg" />
                <label class="form-label" for="lastName">Género</label>
              </div>
  
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-6 mb-4 pb-2">
  
              <div class="form-outline">
                <input [(ngModel)]="formModule.phone" name="phone" type="email" id="emailAddress"
                  class="form-control form-control-lg" />
                <label class="form-label" for="emailAddress">Teléfono</label>
              </div>
  
            </div>
            <div class="col-md-6 mb-4 pb-2">
  
              <div class="form-outline">
                <input [(ngModel)]="formModule.birthDate" name="birthDate" type="date" id="phoneNumber"
                  class="form-control form-control-lg" />
                <label class="form-label" for="phoneNumber">Fecha de Nacimiento</label>
              </div>
  
            </div>
          </div>
  
  
          <div class="row">
            <div class="col-md-6 mb-4 pb-2">
  
              <div class="form-outline">
                <input [(ngModel)]="formModule.subject" name="subject" type="email" id="emailAddress"
                  class="form-control form-control-lg" />
                <label class="form-label" for="emailAddress">Carrera del alumno</label>
              </div>
  
            </div>
            <div class="col-md-6 mb-4 pb-2">
  
              <div class="form-outline">
                <input [(ngModel)]="formModule.themeGender" name="themeGender" type="text" id="phoneNumber"
                  class="form-control form-control-lg" />
                <label class="form-label" for="phoneNumber">Género de poesía</label>
              </div>
  
            </div>
          </div>
  
  
        </form>
      </div>
      <div class="card-footer text-muted">
        <div class="mt-4 pt-2">
          <input class="btn btn-primary btn-lg mb-4" type="submit" value="Enviar Datos" (click)="sendForm(sendForms)" />
        </div>
      </div>
    </div>
  </div>